doctype html
html
  head
    title= title
    link(rel='stylesheet', href=domainName+'/lib/angular-loading-bar/build/loading-bar.css')
    link(rel='stylesheet', href=domainName+'/styles/main.css')
  body
    block content
